@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

:root {
  /* COLOURS */
  /* PRIMARY COLOURS */
  --clr-font-gray: #83869a;
  --clr-font-black: #13183f;
  /* RADIENT COLOUR  */
  --clr-radient-orange: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  --clr-radient-blue: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  /* NEUTRAL COLOURS */
  --clr-symbol: #f74780;
  --clr-started: #ffa7c3;
  --clr-white: #ffffff;
  /* FONTS */
  --ff-main: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: var(--ff-main);
}

body {
  min-height: 100vh;
  background: var(--clr-white);
  padding: 1rem 1rem 2.25rem 1rem;
}

/* HEADER  */

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}

.header__btn {
  height: 48px;
  width: 140px;
  background: var(--clr-font-black);
  color: var(--clr-white);
  font-weight: 700;
  border-radius: 28px;
  font-size: 16px;
}
